@{
    ViewData["Title"] = "История";
}

<h1>История</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Привет
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Привет
            </td>
        </tr>
    </tbody>
</table>
