@model IEnumerable<Cource.ViewModels.NewsModel>

@{
    ViewData["Title"] = "Новости";
}

<h1>Новости</h1>

@if(User.Claims.FirstOrDefault(claim => claim.ValueType == "news").Value == "True")
{
    <p>
        <a asp-action="Create">Новая запись</a>
    </p>
}

<p>
        <a asp-action="Search">Поиск</a>
    </p>

<table class="table">
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                @if(User.Claims.FirstOrDefault(claim => claim.ValueType == "news").Value == "True")
                {
                    <td>
                        @Html.ActionLink("Изменить", "Update", new { id = item.Id }) |
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
