@model IEnumerable<Cource.ViewModels.RoleModel>

@{
    ViewData["Title"] = "Теория";
}

<h1>Теория</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Hello
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Hello
            </td>
        </tr>
    </tbody>
</table>
